################################################################################
# Gradle
################################################################################
.gradle/
**/build/
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache
################################################################################


################################################################################
# Language
################################################################################
# - Kotlin
#-------------------------------------------------------------------------------
.kotlin/
#-------------------------------------------------------------------------------
# - Kobweb
#-------------------------------------------------------------------------------
**/kotlin-js-store/
################################################################################


################################################################################
# IDEs
################################################################################
# - Eclipse
#-------------------------------------------------------------------------------
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath
#-------------------------------------------------------------------------------
# - IDEA
#-------------------------------------------------------------------------------
*.iml
/*.ipr

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/artifacts
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/*.iml
/.idea/modules
/.idea/libraries-with-intellij-classes.xml
################################################################################


################################################################################
# General
################################################################################
.DS_Store
out/
################################################################################
